[project]
	description = Implementation of Nova virtulization driver for zVM.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lljlolopoor
[access "refs/for/refs/*"]
	read = group user/lljlolopoor
	push = group user/lljlolopoor
	label-Code-Review = -2..+2 group user/lljlolopoor
	label-Verified = -1..+1 group user/lljlolopoor
	rebase = group user/lljlolopoor
	removeReviewer = group user/lljlolopoor
	submit = group user/lljlolopoor
[access "refs/heads/*"]
	read = group user/lljlolopoor
	create = group user/lljlolopoor
	push = +force group user/lljlolopoor
	pushMerge = group user/lljlolopoor
[access "refs/tags/*"]
	push = group user/lljlolopoor
	push = +force group user/lljlolopoor
